* {
    padding: 0;
    margin: 10px auto;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0 auto;
    background-image: url(../weight2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    width: 600px;
    height: auto;
    text-align: left;
    margin: 30px 200px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 10px 15px 120px grey;

}

input {
    display: block;

}

p {
    padding: 0 10px;
}

.langas {
    height: 30px;
    width: 150px;
    border-radius: 8px;
}

form {
    padding: 0 15px;

}

.button {
    height: 50px;
    border-radius: 8px;
}

h3,
h1 {
    padding: 0 15px;
}


.result {
    padding: 10px 0;
    text-align: center;
    border: 1px solid grey;
    width: 150px;
    height: 50px;
    background: #eacda3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d6ae7b, #eacda3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d6ae7b, #eacda3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 600;
    border-radius: 8px;
}

.diares {
    padding: 10px 0;
    text-align: center;
    border: none;
    width: 400px;
    height: 45px;
    font-weight: 700;
}

tr,
td {
    font-weight: 600;
}

.scales {
    height: 250px;
    width: 350px;
    position: fixed;
    top: 50px;
    left: 400px;
}
